@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Mulish:wght@200;400;600;700&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

#container {
  height: 450px;
  width: 675px;
  border: 3px solid black;
  border-radius: 10px;
}

#title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  width: 600px;
}

#subtitle {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

#numContainer {
  text-align: center;
  margin-bottom: 40px;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  height: 110px;
  width: 85px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin: 5px;
  font-size: 75px;
  font-weight: 300;
  text-align: center;
}

#lastDiv {
  font-family: Mulish;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(234, 234, 234);
  text-align: center;
  width: 65%;
  padding: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border-radius: 5px;
  margin: 0 auto;
  color: rgb(119, 119, 119);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

/* @media screen and (max-width: 500px) {
  #container {
    width: 95%;
    margin: 0 auto;
  }
} */

@media screen and (max-width: 600px) {
  #container {
    width: 475px;
    height: 485px;
  }
  #title {
    width: 100%;
  }
  #subtitle {
    width: 95%;
    margin-bottom: 40px;
  }
  #numContainer {
    text-align: center;
    margin-bottom: 40px;
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    height: 77.5px;
    width: 67.5px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin: 5px;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
  }
  #lastDiv {
    font-family: Mulish;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    background-color: rgb(234, 234, 234);
    text-align: center;
    width: 85%;
    padding: 10px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 5px;
    margin: 0 auto;
    color: rgb(119, 119, 119);
  }
}
